@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.clear {
	clear: both;
}

* + html .clearfix {
	min-height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

* html .clearfix {
	height: 1%;
}

body {
	background: url(../img/bg.jpg) left -590px #502b15;
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, serif;
	color: #61403b;
}
body.bf {
	background:#000 url(../img/30.png) no-repeat center 415px;
}
a {
	color: #61403b;
	text-decoration: none;
}

a:hover {
	color: #ff7200;
	text-decoration: underline;
}

.body-wrap {
	padding-bottom: 70px;
}

.content-wrap {
	width: 860px;
	margin: 0 auto;
}

.header {
	height: 230px;
	position: relative;
}
.bf .header {
	height: 340px;
}
.header .cart {
	height: 35px;
	margin-bottom: -35px;
	overflow: hidden;
}

.header .cart a {
	display: block;
	float: right;
	width: 106px;
	height: 35px;
	margin-bottom: -35px;
	font-size: 14px;
	line-height: 33px;
	font-style: italic;
	text-align: center;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	background-color: #97592c;
	color: #ffe4cd;
}
.bf .header .cart a {
	background-color: #808080;
	color:#fff;
}
.header .cart a:hover {
	text-decoration: none;
	background-color: #b9692e;
	color: #ffe4cd;
}
.bf .header .cart a:hover {
	background-color: #868686;
	color:#fff;
}
.header .info {
	position: absolute;
	width: 366px;
	padding-right: 56px;
	color: #e7b896;
	right: 0;
	top: 58px;
	text-align: right;
}
.bf .header .info {
	top:168px;
	color:#c0c0c0;
}
.header .info .phones {
	font-family: Times, "Times new roman", sans-serif;
	font-size: 32px;
	line-height: 34px;
	padding-bottom: 11px;
	background: url(../img/header-sep.png) no-repeat center bottom;
	margin-bottom: 3px;
	color: #ffffff;
	word-spacing: 1px;
}
.bf .header .info .phones {
	background: url(../img/header-sep-white.png) no-repeat center bottom;
}
.header .info .phones span, .header .info .phones strong {
	font-size: 26px;
	letter-spacing: 0;
	font-weight: normal;
}

.header .info .phones .free {
	font-size: 14px;
	line-height: 15px;
	color: #e7b896;
	font-family: Georgia, serif;
	word-spacing: 0;
}
.bf .header .info .phones .free {
	color:#c0c0c0;
}
.header .info .txt {
	font-size: 20px;
	line-height: 21px;
	font-style: italic;
}

.header .info .exist {
	color: #ffffff;
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 3px;
}

.header .info .time {
	font-size: 14px;
	line-height: 18px;
	font-family: Times, "Times new roman", sans-serif;
	margin-top: 3px;
}

.logo {
	display: block;
	width: 406px;
	height: 174px;
	background: url(../img/logo.png) no-repeat;
	position: absolute;
	left: 16px;
	top: 39px;
	text-indent: -10000px;
	overflow: hidden;
}
.bf .logo {
	background: url(../img/logo-white.png) no-repeat;
	top:153px;
	z-index: 4;
}
.nav {
	display: block;
	overflow: hidden;
	height: 18px;
	padding-left: 25px;
	padding-top: 9px;
	position: relative;
	z-index: 4;
}

.nav li {
	display: block;
	float: left;
	height: 14px;
	border-left: 2px solid #c99c76;
	padding: 0 17px;
}

.bf .nav li {
	border-left: 1px solid #fff;
}
.nav li:first-child {
	border-left: none;
	padding-left: 0;
}

.nav a {
	display: block;
	font-style: italic;
	font-size: 14px;
	line-height: 18px;
	color: #FECB9F;
	position: relative;
	top: -3px;
}

.bf .nav a {
	color:#fff;
}

.nav a:hover {
	color: #ffffff;
}

.content {
	padding: 21px 25px 0 25px;
	background-color: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height: 300px;
	padding-bottom: 35px;
	-moz-box-shadow: 0 0 21px #000;
	-webkit-box-shadow: 0 0 21px #000;
	box-shadow: 0 0 21px #000;
}

.content.bezh {
	background-color: #ffefd4;
}

.bf.inner .menu,
.menu {
	display: block;
	height: 48px;
	background: url(../img/menu.png) repeat-x #7a481f;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 21px;
}
.bf .menu {
	background: url(../img/gray-menu.png) repeat-x #7a481f;
}
.bf.inner .menu li,
.menu li {
	display: block;
	float: left;
	height: 48px;
	background: url(../img/menu-sep.png) no-repeat left center;
}
.bf .menu li {
	background: url(../img/menu-sep-white.png) no-repeat left center;
}
.menu li:first-child {
	background: none;
}

.menu li.sel a {
	background: url(../img/menu-sel.png) repeat-x;
	cursor: default;
}

.menu li.sel a:hover {
	text-decoration: none;
}

.menu a {
	display: block;
	font-size: 17px;
	line-height: 46px;
	height: 48px;
	color: #ffffff;
	font-style: italic;
	text-align: center;
	white-space: nowrap;
}

.menu .li1 {
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

.menu .li1 a {
	width: 160px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

.menu .li2 {
	padding-left: 3px;
}

.menu .li2 a {
	width: 157px;
	padding-left: 2px;
	margin-left: -2px;
}

.menu .li3 {
	padding-left: 3px;
}

.menu .li3 a {
	width: 165px;
	padding-left: 2px;
	margin-left: -2px;
}

.menu .li4 {
	padding-left: 3px;
}

.menu .li4 a {
	width: 151px;
	padding-left: 2px;
	margin-left: -2px;
}

.menu .li5 {
	padding-left: 3px;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

.menu .li5 a {
	width: 164px;
	padding-left: 2px;
	margin-left: -2px;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

.cont {
	padding-bottom: 46px;
	position: relative;
}

.text-part {
	float: left;
	width: 510px;
	margin-right: 20px;
}

h2 {
	display: block;
	font-size: 25px;
	line-height: 27px;
	margin-bottom: 20px;
}

.clock-text {
	min-height: 890px;
	padding-right: 215px;
	padding-left: 22px;
	background: url(../img/clocks.jpg) no-repeat 308px top;
}

.clock-text h2 {
	padding-top: 4px;
}

.clock-text p {
	margin-bottom: 15px;
	font-family: Times, "Times new roman", sans-serif;
	font-size: 13px;
	line-height: 14px;
}

.sidebar {
	float: left;
	width: 280px;
	padding-top: 5px;
	overflow: hidden;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 32px;
}

.widget {
	overflow: hidden;
}

.widget h3 {
	display: block;
	font-size: 25px;
	line-height: 25px;
	padding: 8px 28px 9px 28px;
	background-color: #d9be9d;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.widget .item {
	background-color: #eddcc8;
	padding: 18px 28px 0 28px;
}

.widget .item .title {
	display: block;
	font-size: 16px;
	line-height: 19px;
	color: #735130;
	margin-bottom: 13px;
}

.bf .widget .item .title {
	color:#000;
}

.widget .item p {
	display: block;
	font-size: 11px;
	line-height: 13px;
	color: #654235;
	background: url(../img/widget-dash.png) repeat-x left bottom;
	padding-bottom: 23px;
}
.bf .widget .item p {
	color:#000;
	background: url(../img/widget-dash-gray.png) repeat-x left bottom;
}
.widget .item.last p {
	background: none;
}

.widget.attached {
	background-color: #eddcc8;
	padding-top: 19px;
	margin-top: -16px;
}

.widget.attached h3 {
	-moz-box-shadow: 0 0 14px #805939;
	-webkit-box-shadow: 0 0 14px #805939;
	box-shadow: 0 0 14px #805939;
}

.bf.inner .counters,
.counters {
	width: 712px;
	height: 46px;
	padding-top: 14px;
	margin: 0 auto;
	background-color: #eddcc8;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
}

.crumbs-line {
	position: relative;
	margin-bottom: 10px;
}

.crumbs-line .cart {
	font-size: 17px;
	line-height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: underline;
	margin-right: 20px;
}

.crumbs {
	font-size: 17px;
	line-height: 20px;
	cursor: default;
	margin-left: 20px;
}

.big-cont {
	padding: 0 22px;
}

.big-cont h2 {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 11px;
}

.pagenavi {
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 19px;
}

.pagenavi .nums {
	font-size: 17px;
	font-family: Times, "Times new roman", sans-serif;
	padding: 0;
}

.pagenavi a {
	display: inline-block;
	text-decoration: underline;
	padding: 0 4px;
}

.pagenavi span {
	display: inline-block;
	padding: 0 4px;
}

.pagenavi.bottom {
	margin-bottom: 37px;
}

.clocks-grid {
	margin-bottom: 18px;
}

.clocks-grid .row {
	overflow: hidden;
	padding-top: 10px;
}

.clocks-grid .row:first-child {
	padding-top: 0;
}

.clocks-grid .item {
	float: left;
	width: 383px;
	padding-bottom: 42px;
	position: relative;
}

.clocks-grid .item .img {
	width: 383px;
	height: 263px;
}

.clocks-grid .item .img img {
	display: block;
	height: 263px;
	margin: 0 auto;
}

.clocks-grid .item .info {
	font-size: 12px;
	line-height: 15px;
	text-align: center;
}

.clocks-grid .item .title {
	display: block;
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
	padding-top: 1px;
	margin-bottom: 10px;
}

.clocks-grid .item .price {
	color: #e07b00;
	font-size: 24px;
	font-family: Times, "Times new roman", sans-serif;
	padding-top: 11px;
	position: relative;
}
.clocks-grid .item .price.sale-price {
	color:#219d00;
}
.clocks-grid .item .price span {
	font-family: Georgia, serif;
	font-size: 16px;
}

.clocks-grid.napol .row {
	padding-top: 0;
	margin-left: 20px;
}

.clocks-grid.napol .item {
	width: 191px;
	position: relative;
}

.clocks-grid.napol .item .img {
	width: 191px;
	height: 180px;
}

.clocks-grid.napol .item .img img {
	width: auto;
	height: auto;
	max-width: 191px;
	max-height: 180px;
	margin: 0 auto;
}

.clocks-grid.napol .item .info {
	padding: 0 10px;
}

.product-card {
	padding-top: 13px;
	overflow: hidden;
}

.product-card .view {
	float: left;
	width: 393px;
	margin-right: 25px;
}

.product-card .img-big {
	width: 393px;
	height: 350px;
	position: relative;
	margin-bottom: 21px;
}

.product-card .img-big img {
	display: block;
	width: 393px;
	height: 350px;
	margin: 0 auto;
}

.product-card .img-big .lens {
	display: block;
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 1px;
	position: absolute;
	bottom: 1px;
	left: 102px;
	background: url(../img/lens.png) no-repeat left 1px;
	padding-left: 20px;
	text-decoration: none;
}

.product-card .img-big .lens span {
	text-decoration: underline;
}

.product-card .img-big .lens:hover {
	text-decoration: none;
}

.product-card .img-big .lens:hover span {
	text-decoration: underline;
}

.product-card .previews {
	overflow: hidden;
	padding: 1px;
	margin-left: 27px;
	margin-bottom: 15px;
}

.product-card .previews a {
	display: block;
	float: left;
	width: 108px;
	height: 87px;
	margin-right: 3px;
}

.product-card .previews a img {
	display: block;
	width: 108px;
	height: 87px;
	margin: 0 auto;
}

.product-card .previews a:hover {
	border: 1px solid #875f59;
	margin: -1px 2px -1px -1px;
}

.product-card .actions {
	overflow: hidden;
	margin-bottom: 15px;
}

.product-card .actions a {
	display: block;
	float: left;
	width: 78px;
	height: 78px;
}

.product-card .actions a i {
	display: none;
	width: 72px;
	height: 72px;
	border: 3px solid #e79331;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.product-card .actions a:hover i {
	display: block;
}

.product-card .actions .size {
	background: url(../img/size.png) no-repeat;
	margin-left: 95px;
	margin-right: 45px;
}

.product-card .actions .turn {
	background: url(../img/turn.png) no-repeat;
}

.product-card .right-part {
	float: left;
	width: 368px;
	padding-bottom: 8px;
}

.product-card .right-part .card {
	padding: 0 17px 18px 17px;
	background-color: #ffffff;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	margin-bottom: 21px;
}

.product-card .right-part h2 {
	display: block;
	font-size: 21px;
	line-height: 21px;
	padding: 15px 0 0 7px;
	margin-bottom: 8px;
}

.product-card .right-part .code {
	font-size: 13px;
	padding: 0 0 12px 9px;
	background: url(../img/dash.png) repeat-x left bottom;
	margin-bottom: 20px;
}

.product-card .right-part .code span {
	display: inline-block;
	padding-left: 4px;
	font-family: Times, "Times new roman", sans-serif;
}

.product-card .right-part .articul {
	font-family: Times, "Times new roman", sans-serif;
	font-size: 14px;
	position: relative;
	top: 2px;
}

.product-card .right-part .row {
	width: 352px;
	overflow: hidden;
}

.product-card .right-part .row .col1 {
	float: left;
	width: 150px;
	margin-right: 35px;
}

.product-card .right-part .row .col2 {
	float: left;
	width: 167px;
	margin-top: 8px;
}

.product-card .right-part .row .col2 a {
	display: block;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	padding: 7px 0 7px 30px;
	color: #651e00;
	text-decoration: underline;
}

.product-card .right-part .row .col2 a:hover {
	color: #FF7200;
	text-decoration: underline;
}

.product-card .right-part .price {
	width: 166px;
	font-size: 19px;
	line-height: 34px;
	text-align: center;
	color: #009a01;
	font-family: Times, "Times new roman", sans-serif;
	position: relative;
}

.product-card .right-part .price span {
	font-size: 32px;
}
.product-card .right-part .price.sale-price {
	line-height: 29px;
	margin: -5px 0 12px;
}
.product-card .right-part .price.sale-price span {
	font-size: 29px;
	padding-left: 11px;
}

.product-card .right-part .btn3 {
	margin: 0 0 7px 13px;
}

.product-card .right-part .added {
	font-size: 14px;
	line-height: 17px;
	color: #009a01;
	font-family: Verdana, sans-serif;
	margin-left: 25px;
}

.product-card .right-part .shipping-link {
	background: url(../img/icon-shipping.png) no-repeat 0 3px;
}

.product-card .right-part .video-link {
	background: url(../img/icon-video.png) no-repeat 0 4px;
}

.product-card .right-part .listen-link {
	background: url(../img/icon-listen.png) no-repeat 0 4px;
}

.product-card .right-part .params {
	font-size: 14px;
	line-height: 17px;
	padding: 0 6px;
}

.product-card .right-part .params .row {
	padding: 4px 10px 6px 20px;
	overflow: hidden;
}

.product-card .right-part .params .row.dark {
	padding: 1px 10px 3px 20px;
	background-color: #eccd98;
}

.product-card .right-part .params span {
	display: block;
	float: left;
	width: 240px;
}

.product-card .right-part .params span:first-child {
	width: 84px;
}

.product-card.napol .previews {
	float: left;
	padding-left: 8px;
	width: 88px;
	margin-right: 4px;
	margin-left: 0;
	padding-top: 11px;
}

.product-card.napol .previews a {
	float: none;
	width: 88px;
	height: 108px;
	margin-right: 0;
	margin-bottom: 3px;
}

.product-card.napol .previews a:hover {
	margin: -1px -1px 2px -1px;
}

.product-card.napol .previews img {
	width: 88px;
	height: 108px;
}

.product-card.napol .img-big {
	float: left;
	width: 292px;
	height: 478px;
	padding-top: 11px;
}

.product-card.napol .img-big img {
	width: 292px;
	height: 478px;
}

.product-card.napol .lens {
	bottom: -16px;
	left: 61px;
}

.product-card.napol .view-top {
	overflow: hidden;
	margin-bottom: 26px;
}

.product-card.napol .actions .size {
	margin-left: 145px;
}

.no-right-pad {
	padding-right: 0 !important;
}

.no-right-pad .crumbs-line .cart {
	padding-right: 22px;
}

.btn {
	display: block;
	text-align: center;
	color: #ffffff;
	background-color: #e79331;
	font-size: 17px;
	line-height: 34px;
	font-family: Georgia, serif;
	cursor: pointer;
	text-decoration: none;
	width: 150px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.btn:hover {
	background-color: #ffad39;
	text-decoration: none;
	color: #ffffff;
}

.btn3 {
	display: block;
	width: 130px;
	height: 32px;
	border: 3px solid #006002;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: url(../img/btn3.png) repeat-x #007e00;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	color: #ffffff !important;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
}

.btn3:hover {
	color: #ffffff;
	text-decoration: underline !important;
	background-position: 0 -50px;
	background-color: #009800;
}

.bottom-ribbon {
	height: 21px;
	background-color: #eccd98;
	position: relative;
	left: -10px;
	margin-bottom: 20px;
}

.invis-link {
	position: absolute;
	left: 999999px;
	top: -999999px;
}

#pagetitle {
	font-size: 24px;
	margin: 20px 0 30px 20px;
}

.ya_prof {
	margin-left: 239px;
	margin-top: 72px;
	position: absolute;
}

.order-form-title {
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 20px;
}

#insurance_note {
	left: 170px;
	position: relative;
	top: -15px;
	width: 340px;
}

#agreeblock a {
	color: #000000;
	text-decoration: underline;
	margin-right: 3px;
}

#agreeblock a:hover {
	color: #000000;
	text-decoration: underline;
}

.yellow-title {
	background: url(../img/yellow-trans.png),
		url(../img/big-30.png) no-repeat center 24px;
	height: 103px;
	width: 100%;
	position: absolute;
	top:43px;
	left:0;
	z-index: 2;
}
.yellow-title .content-wrap {
	position: relative;
}
.bf-logo {
	float: left;
	margin: 11px 0 0;
	position: relative;
	z-index: 4;
}
.ball {
	width: 278px;
	height: 278px;
	background: url(../img/ball.png) no-repeat;
	position: absolute;
	top:-46px;
	left: -12px;
	z-index: 3;
}
.yt-text {
	text-align: right;
	padding-top: 4px;
	position: relative;
	z-index: 4;
}
.yt-text .heading {
	font:34px/38px MyriadProBold;
	color:#fcf500;
	text-transform: uppercase;
	letter-spacing: 6px;
}
.yt-text .three-days {
	font:30px/30px MyriadProRegular;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.yt-text .date {
	font:19px MyriadProRegular;
	color:#fcf500;
	letter-spacing: 2px;
}
.yt-text .date strong {
	font-family: MyriadProBold;
}

.bf .clock-text {
	color:#000;
}
.bf .widget h3 {
	background-color: #808080;
	color:#fff;
}
.bf .widget.attached,
.bf .widget .item {
	background-color: #d0d0d0;
}
.bf .widget.attached h3 {
	box-shadow: none;
}
.bf .counters {
	background-color: #d0d0d0;
}
.introtext {
    background-color: #EDDCC8;
    margin: 0px 0px 16px -25px;
    padding: 6px 35px 1px;
    width: 790px;
}
.introtext p {
    margin: 0px 0px 7px;
}
.clocks-grid.napol .item .label {
	left:0;
}
.clocks-grid .item .label {
	left:61px;
	position: absolute;
	top:0;
}
.clocks-grid .item .price .cross {
	position: absolute;
	top:8px;
	left:35%;
	width: 84px;
	height: 22px;
	background: url(../img/cross.png) no-repeat;	
}
.product-card .right-part .price .cross,
.clocks-grid.napol .item .price .cross {
	left:16%;
}
.product-card .right-part .price .cross {
	position: absolute;
	top:4px;
	left:5%;
	width: 110px;
	height: 29px;
	background: url(../img/cross-2.png) no-repeat;	
}
.label-2 {
	position: absolute;
	top:42px;
	left:-79px;
} 



















